.royal-hero
{
  background: url("../../../assets/img/recept.jpg") no-repeat center center/cover ;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins',sans-serif;
  color:#fff;
} 

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(2,136,209,0.5);
    backdrop-filter: blur(3px);
}
.content-box
{
    position:relative;
    z-index: 2;
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 40px;
    width: 400px;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(8px);
    animation: fadeIn 1s ease-in;
}

.title
{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.list-group
{
    border-radius: 10px;
    overflow: hidden;
}

.list-group-item
{
    background-color: rgba(255,255,255,0.15);
    border: none;
    color: rgb(49, 2, 17);
    font-size: 1rem;
    font-weight: 700;
    padding: 12px 20px;
    transition: all 0.3s ease;
}

.list-group-item:hover
{
    background-color: rgba(255,255,255,0.35);
    transform: scale(1.03);
    color: #0288d1;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(2,136,209,0.5);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
