<div class="royal-hero">
  <div class="overlay"></div>
  <div class="content-box">
  <h2 class="title mb-4 text-center">Reception Dashboard</h2>
  <div class="list-group">
       <a routerLink="/new-customer" class="list-group-item list-group-item-action">🧾 New Customer</a>
      <a routerLink="/customer-info" class="list-group-item list-group-item-action">👤 Customer Info</a>
      <a routerLink="/check-out" class="list-group-item list-group-item-action">🚪 Check Out</a>
      <a routerLink="/search-room" class="list-group-item list-group-item-action">🔍 Search Room</a>
      <a routerLink="/update-room" class="list-group-item list-group-item-action">🛏️ Update Room</a>
      <a routerLink="/pick-up" class="list-group-item list-group-item-action">🚗 Pick Up Service</a>
      <a routerLink="/manager-info" class="list-group-item list-group-item-action">👔 Manager Info</a>
      <a routerLink="/update-check" class="list-group-item list-group-item-action">📋 Update Check</a>
      <a routerLink="/check-in" class="list-group-item list-group-item-action">🏨 Check-In</a>
    </div>
</div>
</div>

