
<div class="checkout-container d-flex justify-content-center align-items-center">
  <div class="checkout-card shadow-lg p-5">
    <h2 class="text-center mb-4 text-primary fw-bold">🏨 RoyalStay Check Out</h2>

    <form (ngSubmit)="checkOut()">
      <div class="mb-4">
        <label class="form-label fw-semibold">Customer ID</label>
        <input
          type="number"
          class="form-control form-control-lg"
          [(ngModel)]="customerId"
          name="id"
          placeholder="Enter Customer ID"
          required
        />
      </div>

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-danger w-50 me-2">
          🚪 Check Out
        </button>
        <button
          type="button"
          class="btn btn-outline-sky w-50"
          routerLink="/reception"
        >
          ⬅️ Back
        </button>
      </div>
    </form>
  </div>
</div>
